<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <TItle>bodega</TItle>
        <meta name="description" contents="ARCH PROYECTO">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styleIndex.css" type="text/css">   
        <link rel="stylesheet" href="../css/StyleInicio.css" type="text/css">   
    </head>
    <body class="bodega">
        <nav class="nav__hero">
            <div class="container nav__container">
                <div class="logo">
                  <a href="#"><h2 class="logo__name" style="color: aliceblue;">Ecommerce<span class="point">.</span></h2></a>
                </div>
                <div class="links">
                    <a href="../views/bodega/prodApro.html" class="link">Aprobar</a>
                    <a href="#" class="link">Reportes</a>
                    <a href="#" class="link">Reportes</a>
                    <a href="./login.html" class="link link--active">Cerrar Sesion</a>
                </div>
            </div>
        </nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contenedor">
    <div class="texto">
      <span id="dpiUsuario"></span>
      <span id="nombreUsuario"></span>
      <br>
      <span id="correoUsuario"></span>
      <br>
      <span id="cargoUsuario"></span>
    </div>
</div>

    <script src="../js/inicio.js"></script>
    </body>
</html>